<launch>
  <arg name="cam_name" />
  <arg name="calib_file" default="$(find svo_ros)/param/calib/$(arg cam_name).yaml"/>
  <arg name="parameter_file" default="$(arg cam_name).yaml"/>
  <arg name="topic" default="/camera/panoramic/image/compressed"/>
  <arg name="use_imu" default="false" />
  <arg name="node" default=""/>
  <!-- Image Transport node -->
  <!-- <node name="it" pkg="image_transport" type="republish" args="compressed in:=$(arg topic) raw out:=/image_raw" /> -->

  <!-- SVO node -->
  <node pkg="svo_ros" type="svo_node" name="svo$(arg node)" clear_params="true" output="screen" >

    <!-- Camera topic to subscribe to -->
    <param name="cam0_topic" value="$(arg topic)" type="str" />

    <!-- Imu topic to subscribe to -->
    <param name="imu_topic" value="/imu_raw" type="str" />
    <param name="use_imu" value="$(arg use_imu)"  />

    <!-- Camera calibration file -->
    <param name="calib_file" value="$(arg calib_file)" />

    <!--Parameters-->
    <rosparam file="$(find svo_ros)/param/$(arg parameter_file)" />
    <!-- <param name="map_scale" value="1" /> -->
    
    <!-- Loop closure detection parameters -->
    <param name="runlc" value="false" />
    <!--<rosparam file="$(find svo_ros)/param/loop_closing.yaml" />-->
    <!--<param name="voc_path" value="$(find svo_online_loopclosing)/vocabularies/" type="str" />-->

  </node>

  <!-- RVIZ + SVO GUI -->
  <node name="vis$(arg node)" pkg="rviz" type="rviz" args=" -d $(find svo_ros)/rviz_config.rviz" />
  <node name="svo_gui" pkg="rqt_gui" type="rqt_gui" args="-s rqt_svo.svo.Svo --args --topic svo" />

</launch>